<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <header> <h2>Web Project Group 2 : Sonal & Sethu</h2></header>
    <content>
      {{{body}}}
    </content>
  </body>
  <footer>
    Email : sethumadhav202@gmail.com and sonalpooja11@gmail.com
  </footer>
</html>
