<form method="POST" action="/movieData">
    Page: <input type="text" name = "page" /><br><br>
    per Page: <input type="text" name = "perPage" /><br><br>
    Title: <input type="text" name = "title" /><br><br>   
    <input type="submit" name="Submit" />
</form>