th {
    background-color: cornflowerblue;
}
td {
    background-color: beige;
}
h2{
    color: red;
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #F1F1F1;
    text-align: center;
    color: rgb(38, 153, 188);
    font-size: 15px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #F1F1F1;
    text-align: center;
    color: rgb(38, 153, 188);
    font-size: 15px;
  }
h3{
    padding-left: 60px;
}